accelerate==0.28.0
apex==0.9.10dev
bitsandbytes==0.43.0
diffusers==0.19.3
huggingface_hub==0.19.4
insightface==0.7.3
iopath==0.1.10
jupyter==1.0.0
matplotlib==3.6.3
matplotlib-inline==0.1.6
numpy==1.24.1
omegaconf==2.3.0
onnxruntime-gpu==1.16.3
open-clip-torch
pandas==1.4.2
peft==0.2.0
Pillow==10.1.0
pycocoevalcap==1.2
pycocotools==2.0.7
PyYAML==6.0
pyrallis==0.3.1
Requests==2.31.0
scipy==1.8.0
sentence-transformers==2.3.1
timm==0.9.16
tokenizers==0.15.2
torch==2.0.1
torchvision==0.15.2
tqdm==4.64.1
transformers==4.37.2
xformers==0.0.21
pyrallis==0.3.1
loguru==0.7.0

# Additional requirements for MiniGPT-v2
webdataset==0.2.86
decord==0.6.0